@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root{
	--gray: #2d2d2d;
	--sans: 'Roboto Condensed', sans-serif;
}
h1 {
	color: var(--gray);
	font-family: var(--sans);
	font-weight:700;
	font-size:32px;
	margin-bottom:24px;
	margin-top:0px;
	text-transform:uppercase;
}
p,ul,ol{
	color: var(--gray);
	font-family: var(--sans);
	font-weight:400;
	font-size:20px;
	margin-bottom:16px;
	margin-top:0px;
}
img{
	width:100%;
	height:auto;
	padding-bottom:10px;
}
body {
	max-width:1600px;
	min-height:637px;
	padding:32;
}
	
